body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F6FA;
}

.card-purple-blue {
    background: linear-gradient(45deg, #6d80fe 0%, #23d2fd 100%);
    box-shadow: 0 5px 20px rgba(35, 210, 253, 0.3);
}

.card-salmon-pink {
    background: linear-gradient(45deg, #ff998b 0%, #ff6d88 100%);
    box-shadow: 0 5px 20px rgba(255, 153, 139, 0.3);
}

.card-blue-green {
    background: linear-gradient(45deg, #09afe8 0%, #29f499 100%);
    box-shadow: 0 5px 20px rgba(41, 244, 153, 0.3);
}

.card-purple-pink {
    background: linear-gradient(45deg, #707cff 0%, #fa81e8 100%);
    box-shadow: 0 5px 20px rgba(250, 129, 232, 0.3);
}

.card {
    border: 0;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-body {
    padding: 15px 20px;
}

.pt-10 {
    padding-top: 100px;
}

a {
    color: #fff;
    text-decoration: none;
}